<script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/javascript/room.js" defer></script>

<div class="modal ">
    <h1 class="display-5 text-center">Meeting Details</h1>
    <h3>Meeting id: <span id="meetingId">{{meetingId}}</span></h3>
    <h3>Meeting password: <span id="meetingPass">{{meetingPassword}}</span></h3>
    <div>
        <button style="position: relative;" class="btn6" onclick="copy()">CLICK TO COPY</button>
        <p id="copyText" class="text-center">Copied to clipboard!</p>
    </div>

    <i onclick="showDetails()" class="fas fa-times"></i>


</div>

<div>
    <div id="video-grid">

    </div>
    <div class="bottom-panel">
        <div class="control_block">
            <div onclick="muteUnmute()" class="controls_button mute_button">
                <i style="font-size: 1.5rem; color: #273469" class="fas fa-microphone-alt"></i>
                <span style="font-size:1rem">Mute</span>
            </div>
            <div onclick="stopPlayVideo()" class="controls_button video_button">
                <i style="font-size: 1.5rem; color: #273469" class="fas fa-video"></i>
                <span>Stop Video</span>
            </div>
        </div>
        <div class="control_block">
            <div onclick="showDetails()" class="controls_button">
                <i style="font-size: 1.5rem; color: #273469" class="fas fa-user-plus"></i>
                <span>Invite</span>
            </div>
        </div>
        {{!-- <div class="control_block">
            <div onclick="showParticipants()" class="controls_button">
                <i style="font-size: 1.5rem; color: #273469" class="fas fa-users"></i>
                <span>Participants</span>
            </div>
        </div> --}}
        <div class="control_block">
            <div onclick="leaveMeeting()" class="controls_button">
                <span style="color: red;">Leave meeting</span>
            </div>
        </div>
    </div>
</div>